<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.price_search5">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/desktop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.Launcher"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
           <!-- 有多少个<intent-filter>就有多少个桌面图标-->
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".PictureActivity" android:theme="@style/AppTheme"></activity>
        ApplicationInfo applicationInfo = null;
        try {
        applicationInfo = getPackageManager().getApplicationInfo(getPackageName(), PackageManager.GET_META_DATA);
        } catch (PackageManager.NameNotFoundException e) {
        e.printStackTrace();
        }
        if(applicationInfo == null){
        throw new IllegalArgumentException(" get application info = null, has no meta data! ");
        }
        applicationInfo.metaData.putString("android.max_aspect", "2.3");
    </application>
    <meta-data

        android:name="android.max_aspect"

        android:value="2.4" />

</manifest>